/*=============================================
	Default Values
	
	Font family:	:Roboto Condensed

	Greenish Blue 	:#34c6d3 (Botones,iconos,links y backgrounds)
	Steel Gray 		:#41464b (Cabezeras)
	Blue Bayoux 	:#64707b (Paragraphs)
	White 			:#fff	 (Text with back banckground) 	
	Black			:#000	 ()
=================================================*/
/* General CSS */
html, body{
	height: 100%;
}
body{
	font-family: "Roboto Condensed", sans-serif;
}
/*========================================================
						HOME
========================================================*/
#home{
	height: 100%;
}
#home-cover{
	height:  100%;
	background-image:url("../img/chicas.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
}
#home-content-box{
	width: 100%
	height:100%;
	display: table;
}

#home-content-box-inner{
	display: table-cell;
	vertical-align: middle;
	/*text-align: center;*/
}

#home-heading h3{
	color:#fff;
	font-size: 55px;
	font-weight:700;
	margin: 20px 0 20px 0;
	text-transform: uppercase;
}
/* CSS -JUST for grid Examples*/
/*.col-1 {background: color:red; }
.col-2 {background: color:blue; }
.col-3 {background: color:green; }
.col-4 {background: color:yellow; }*/