/*=============================================
	Default Values
	
	Font family:	:Roboto Condensed

	Greenish Blue 	:#34c6d3 (Botones,iconos,links y backgrounds)
	Steel Gray 		:#41464b (Cabezeras)
	Blue Bayoux 	:#64707b (Paragraphs)
	White 			:#fff	 (Text with back banckground) 	
	Black			:#000	 ()
=================================================*/
/* General CSS */
html, body{
	height: 100%;
}
body{
	font-family: "Roboto Condensed", sans-serif;
}
p{
	color: #64707b;
	font-size: 16px;
	font-weight: 300;
}
h3{
	color:#41464b;
	text-transform: uppercase;
}
/*========================================================
						HOME
========================================================*/
#home{
	height: 100%;
}
#home-cover{
	height:  100%;
	background-image:url("../img/negocio.jpg");
}
#home-content-box{
	width: 100%;
	height:100%;
	display: table;
}
	
#home-content-box-inner{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#home-heading h3{
	color:#BECEE5;
	font-size: 55px;
	font-weight:700;
	margin: 20px 0 20px 0;
	text-transform: uppercase;
}
#home-heading h6{
	color:#BECEE5;
	font-size: 20px;
	font-weight:400;
	margin: 30px 0 30px 0;
	text-transform: uppercase;
}
/*========================================================
					Parallax(Genericos)
========================================================*/
.bg-parallax{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
	background-attachment: fixed;
}
/*========================================================
					Botones(Genericos)
========================================================*/
.btn-general{
	/*border-color: #fff;
	border-width: 2px;
	border-radius: 0;
	padding: 12px 26px 12px 26px;
	font-transform:uppercase;*/
	border-width: 2px;
	border-radius: 0;
	padding: 12px 26px 12px 26px;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}
.btn-white{
	border-color:#fff;
	color:#fff;
}
.btn-white:hover, .btn-white:focus{
	background-color: #fff;
	color:#41464b;
}

.btn-blue{
	border-color:#34c6d3;
	color:#34c6d3;
}
.btn-blue:hover,
.btn-blue:focus{
	background-color: #34c6d3;
	color:#fff;
}
.btn-back-to-top{
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 22px;
	padding: 3px 15px;
	border-radius: 0;
	display: none;
}

/*========================================================
						ANIMATE
========================================================*/
#home-cover, 
#home-heading, 
#home-btn{
	animation-duration: .5s;
}
#home-cover{
	animation-delay:.1s;
}
#home-heading{
	animation-delay:.1s;
}

#home-btn{
	animation-delay:.5s;
}
/*========================================================
						Contenido
========================================================*/
.content-box{
	padding: 60px 0 60px 0;	
}
.content-title h3{
	font-size: 30px;
	font-weight:700;
	text-align: center;
	margin: 0 0 30 0;
}
.content-title-white h3{
	color: #fff;
}

.content-title-underline{
	width: 30px;
	height: 3px;
	background-color: #34c6d3;
	margin: 0 auto 30px auto;
}
/*========================================================
						Servicios
========================================================*/
.service-item{
	padding: 20px 0 20px 0;
	margin-bottom: 20px;
	cursor: pointer;
}
.service-item-icon i{
	color:#34c6d3;
	float:left;
	padding: 20px;
	margin-right: 25px;
	width: 75px;
	height: 75px;
	text-align: center;
}
.service-item:hover .service-item-icon i{
	color:#fff;
	background-color: #34c6d3;
}
.service-item-title h3{
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 10px 0;
}
.service-item-desc p{
	margin: 0;
	padding-left: 85px;
}
/*========================================================
						ABOUT
========================================================*/
#about-bg-diagonal{
	width: 60%;
    height: 700px;
    float: right;
    background-image: url(../img/ella.jpg);
    border-left: 200px solid #fff;
    border-top: 700px solid transparent;
}
#about-content-box{
	float:left;
	height: 700;
}
#about-content-box-outer{
	width: 100%;
	height: 100%;
	display: table;
}
#about-content-box-inner{
	display: table-cell;
	vertical-align: middle;
}
#about .content-title-underline{
	margin: 0 0 30 0;
}
#about-desc p{
	margin-bottom: 30px;
}
/*========================================================
						WORK
========================================================*/
.row.no-gutters [class*=col-]{
	/*La caja de div esta correcta solo que la imagen no abarca el 100% del div*/
	padding-right: 0px;
    padding-left: 0px;
}
.img-wrapper{
	overflow: hidden;
}
.img-wrapper img{
	transition:transform .5s ease;
}
.img-wrapper img:hover{
	transform:scale(1.5);
	cursor:zoom-in;
}
/*========================================================
						TEAM
========================================================*/
.team-member{
	margin: 0 15px;
}
.team-member-info{
	padding: 10px 0 30px 0;
}
h4.team-member-name{
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	padding-top: 2px;
}
h4.team-member-designation{
	color: #34c6d3;
	font-size: 15px;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 1px;
	margin-top: 5px;
}
/*========================================================
						SOCIAL
========================================================*/
.social-list{
	padding-left: 0;
}
.social-list li{
	list-style: none;
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-right: 6px;
	margin-top: 10px;
}
.social-icon i{
	font-size: 17px;
}
.icon-white i{
	color: #fff;
}
.icon-gray i{
	color: #64707b;
}
.social-icon i:hover{
	color: #34c6d3;
}
/*========================================================
						TESTIMONIALS
========================================================*/

#testimonials-cover{
	background-image: url("../img/testimonios/6.jpg");
}
#testimonials .content-box{
	background-color: rgba(0,0,0, 0.1);
}
#customers-testimonials{
	padding: 50px 0;
}
.testimonial img{
	max-width: 120px;
	margin: 0 auto 0 auto;
}

.testimonial blockquote{
	border:0;
}

.testimonial blockquote{
	border:0;
	font-family: Georgia,sans-serif;
	font-style: italic;
	color: #fff;
	padding: 6px 280px;
	position: relative;
}

.testimonial blockquote p{
	color: #fff;
}

.testimonial blockquote::before,
.testimonial blockquote::after{
	font-size: 80px;
	font-style: normal;
	line-height: 1;
	width: 302px;
	height: 30px;
	position: absolute;
}

.testimonial blockquote::before{
	content:"\201c";
	top: 0;
	left: 100px;
}

.testimonial blockquote::after{
	content:"\201d";
	bottom: 0;
	right: 100px;
}
.testimonials-author p{
	color: #fff;
	font-size: 17px;
}
.testimonials-author p strong{
	display: block;
}

/*========================================================
						Pricing
========================================================*/
.pricing-box{
	border: 3px solid #34c6d3;
	padding: 50px 0;
	margin: 40px 0;
}
h4.pricing-title{
	background-color: #34c6d3;
	color: #fff;
	display: inline-block;
	padding: 7px 15px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 30px 0;
}
h3.pricing-value{
	font-size: 60px;
	font-weight: 700;
}
h3.pricing-value sup{
	font-size: 28px;
	font-weight: normal;
	vertical-align: super;
}
ul.pricing-spec{
	list-style: none;
	padding-left: 0;
	margin: 20px 0 60px 0;
}
ul.pricing-spec li p {
	font-weight:400;
	text-transform: uppercase; 
}
.pricing-box-lg{
	padding: 90px 0;
	margin: 0;
	background-color: #34c6d3;
}
.pricing-box-lg h4.pricing-title{
	color: #34c6d3;
	background-color: #fff;
}
.pricing-box-lg ul.pricing-spec li p{
	color: #fff;	
}
/*========================================================
						Stats
========================================================*/
#stats-cover{
	background-image: url("../img/stats/4.jpg");
}
#stats .content-box{
	background-color: rgba(0,0,0,.5);
}
.stats-item{
	padding: 100px 0;
}
.stats-item i{
	color: #34c6d3;
}
.stats-item h2{
	color: #fff;
	font-size: 35px;
	font-weight: 700;
	margin-top: 15px;
	margin-bottom: 1px;
}
.stats-item p{
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 0;
}
/*========================================================
						Client
========================================================*/
.client{
	padding: 40px 0;
}
/*========================================================
						Contact
========================================================*/
footer{
	background-color: #41464b;
	padding-top: 30px;
	border-top: 5px solid rgba(0,0,0,0.1);
}
#contact-left h3, #contact-rigth h3{
	color: #fff;
	font-size: 27px;
	font-weight: 700;
}
#contact-left p{
	color: #fff;
	margin-bottom: 30px;
}
#contact-info{
	background-image: url(../img/logos/10.jpg);
	background-repeat: no-repeat;
	background-size: contain;
}
address{
	color: #fff;
}	
address strong,
#phone-fax-email strong{
	letter-spacing: 1px;
}

form .form-control{
	background: transparent;
	border-radius: 0;
	border-color: #fff;
	font-size: 17px;
	font-weight: 300;
	padding: 8px 16px;
	margin-bottom: 20px;
	color: #fff;
}
/*=========================================================================
								FOOTER
=========================================================================*/
#footer-bottom{
	background-color: rgba(0,0,0,0.1);
	padding: 30px 0;
	margin-top: 60px;
}
#footer-Copyrights p{
	margin: 0;
	color: #fff;
}
#footer-menu{
	float: left;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
}
#footer-menu ul{
	list-style: none;
	padding-left: 0;
	margin: 0;
}
#footer-menu ul li{
	display: inline-block;
}
#footer-menu a{
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	margin: 0 10px;
	text-decoration: none;
}
#footer-menu a:hover{
	color: #34c6d3;
}
/*=========================================================================
								NAVEGATION
=========================================================================*/
.navbar{
	padding: 20px 0;
	transition:all .5s ease-in-out;
}
.vesco-top-nav{
	background: rgba(0, 0, 0, 0.7);
	padding: 7px 0;
}
.vesco-nav-wrapper{
	padding: 0 85px;
}
.navbar-nav{
	float: right;
}
.navbar-nav>li>a{
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:focus{
	background: none;
	color: #34c6d3;
}
.navbar-toggle{
	background-color: rgba(0,0,0,0.1);
	border: 1px solid #fff;
	border-radius: 0;
}
.navbar-toggle .icon-bar{
	background-color: #fff;
}
.navbar-collapse{
	max-height: none !important; /*Visualmente no hace nada pero da referencia en donde se posa el menu*/
}
.vesco-top-nav ul.navbar-nav > li.active >a{
	color: #34c6d3;
}
